{
  "project_info": {
    "project_number": "REPLACE_ME",
    "project_id": "REPLACE_ME",
    "storage_bucket": "REPLACE_ME"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_ME",
        "android_client_info": {
          "package_name": "com.example.intro_to_genui"
        }
      },
      "api_key": [
        {
          "current_key": "REPLACE_ME"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
